@import "../../../assets/styles/styles.scss";
.div {
  display: inline-block;
  .button {
    text-align: center;
    color: #ffffff;
    border-radius: 0.35rem;
    font-size: 14px;
    padding: 0.2rem 0.5rem;
    background-color: $Green;
  }
  .buttonRed {
    text-align: center;
    color: #ffffff;
    border-radius: 0.35rem;
    font-size: 14px;
    padding: 0.2rem 0.5rem;
    background-color: $Red;
  }
}
