@import "../../../assets/styles/styles.scss";
.content {
  .peoples {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
    .add {
      color: $Green;
      height: 2rem;
      width: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $Green;
      border-radius: 50%;
      line-height: 0;
      cursor: pointer;
    }
  }
  .send {
    display: flex;
    align-items: center;
    .amount {
      padding: 0.2rem 0.5rem;
      width: 150px;
      font-size: 1rem;
      color: #000;
      border: 2px solid $Green;
      border-radius: 0.5rem;
      margin: 0 1.2rem 0 0;
      outline: none;
      
    }
  }
}
