.menuLinks {
	display: flex;
	flex-direction: column;
	.menuLink {
		margin: 0 0 2.5rem 0;
		font-size: 18px;
		text-decoration: none;
		outline: none;
		color: #000;
		cursor: pointer;
		@media(max-width: 1250px) {
			margin: 0 0 2rem 0;
		}
		&:last-child {
			margin: 0;
		}
	}
}