@import "../../../assets/styles/styles.scss";
.cardNumber {
  font-size: 20px;
  margin: 0 0 2rem 0;
  div {
    font-size: 16px;
    margin: 0.25rem 0 0 0;
    color: #d3d3d3;
  }
}
.deposit {
  margin: 0 0 2rem 0;
	.button{
		margin: 0 0 1rem 0;
	}
}


